*{
    font-family: sans-serif;
}

body{
    background-image: url("../images/bats.gif");
    background-repeat: repeat;
}

section{
    width: 800px;
    background-color: white;
    box-shadow: 0 0 5px 5px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.sidebar {
    float: left;
    width: 160px;
    margin-bottom: 16px;
    padding: 0 8px;
}

.content {
    float: left;
    width: 550px;
    margin-bottom: 16px;
    padding: 0 8px;
}

h1{
    font-size: 24px;
    font-weight: bold;
}

.w{
    font-size: 40px;
}

.w-2{
    font-size: 22px;
}

img{
    float: left;
    padding-top: 30px;
}

a{
    font-weight: bold;
    color: orange;
}

a:visited{
    color: green;
}

h2{
    font-size: 26px;
}

li{
    line-height: 1.6;
    list-style-type: none;
    width: 80%;
}

li a{
    display: block;
    font-size: 14px;
    color: black;
    text-align: left;
    padding: 6px 8px;
    margin-bottom: 2px;
    text-decoration: none;
    border: 2px solid black;
    background-color: orange;
}

h3{
    font-size: 20px;
}

.first-heading{
    font-size: 30px;
}

p{
    font-size: 16px;
}

.padding-left-120{
    padding-left: 120px;
}

header, main{
    padding: 10px 16px;
}

header{
    border-bottom: 3px solid black;
    background: linear-gradient(to right, wheat, orange, black);
}

footer{
    border-top: 3px solid black;
    background: linear-gradient(to right,  black,orange,wheat);
}

footer p{
    padding:10px;
    text-align: center;
    font-size: 14px;
    padding-bottom: 16px;

}




.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 44px;
    text-decoration: none;
}



.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: orange;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: gray;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
